################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coditech.Project/Admin/AdminCommom/Coditech.Admin.Utilities/bin/Debug/net6.0
/Coditech.Project/Admin/AdminCommom/Coditech.Admin.Utilities/obj
/Coditech.Project/Admin/AdminCommom/Coditech.Client/bin/Debug/net6.0
/Coditech.Project/Admin/AdminCommom/Coditech.Client/obj
/Coditech.Project/Admin/Coditech.Admin/bin/Debug/net6.0
/Coditech.Project/Admin/Coditech.Admin/obj
/Coditech.Project/API/Coditech.API.Organisation/bin/Debug/net6.0
/Coditech.Project/API/Coditech.API.Organisation/obj
/Coditech.Project/API/Coditech.API.User/bin/Debug/net6.0
/Coditech.Project/API/Coditech.API.User/obj
/Coditech.Project/API/Comman/Coditech.API.Client/bin/Debug/net6.0
/Coditech.Project/API/Comman/Coditech.API.Client/obj
/Coditech.Project/API/Comman/Coditech.Common.API/bin/Debug/net6.0
/Coditech.Project/API/Comman/Coditech.Common.API/obj
/Coditech.Project/API/Comman/Coditech.Common.API.Data/bin/Debug/net6.0
/Coditech.Project/API/Comman/Coditech.Common.API.Data/obj
/Coditech.Project/API/Comman/Coditech.Common.API.Service/bin/Debug/net6.0
/Coditech.Project/API/Comman/Coditech.Common.API.Service/obj
/Coditech.Project/Common/Coditech.Common.API.Model/bin/Debug/net6.0
/Coditech.Project/Common/Coditech.Common.API.Model/obj
/Coditech.Project/Common/Coditech.Common.CacheManager/bin/Debug/net6.0
/Coditech.Project/Common/Coditech.Common.CacheManager/obj
/Coditech.Project/Common/Coditech.Common.Helper/bin/Debug/net6.0
/Coditech.Project/Common/Coditech.Common.Helper/obj
/Coditech.Project/Common/Coditech.Common.Logger/bin/Debug/net6.0
/Coditech.Project/Common/Coditech.Common.Logger/obj
/Coditech.Project/.vs
/.vs
/Coditech.Project/Admin/AdminCommon/Coditech.Admin.Utilities/bin/Debug/net6.0
/Coditech.Project/Admin/AdminCommon/Coditech.Admin.Utilities/obj
