################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coditech.Project/Admin/Coditech.Admin/bin
/Coditech.Project/Admin/Coditech.Admin/obj
/Coditech.Project/API/Coditech.Engine.Organisation/bin
/Coditech.Project/API/Coditech.Engine.Organisation/obj
/Coditech.Project/API/Coditech.Engine.User/bin
/Coditech.Project/API/Coditech.Engine.User/obj
/Coditech.Project/API/Comman/Coditech.API.Client/bin
/Coditech.Project/API/Comman/Coditech.API.Client/obj
/Coditech.Project/API/Comman/Coditech.Common.API/bin
/Coditech.Project/API/Comman/Coditech.Common.API/obj
/Coditech.Project/API/Comman/Coditech.Common.API.Data/bin
/Coditech.Project/API/Comman/Coditech.Common.API.Data/obj
/Coditech.Project/API/Comman/Coditech.Common.API.Service/bin
/Coditech.Project/API/Comman/Coditech.Common.API.Service/obj
/Coditech.Project/Common/Coditech.Common.API.Model/bin
/Coditech.Project/Common/Coditech.Common.API.Model/obj
/Coditech.Project/Common/Coditech.Common.CacheManager/bin
/Coditech.Project/Common/Coditech.Common.CacheManager/obj
/Coditech.Project/Common/Coditech.Common.Helper/bin
/Coditech.Project/Common/Coditech.Common.Helper/obj
/Coditech.Project/Common/Coditech.Common.Logger/bin
/Coditech.Project/Common/Coditech.Common.Logger/obj
/Coditech.Project/.vs
/.vs
/Coditech.Project/Admin/AdminCommon/Coditech.Admin.Utilities/bin
/Coditech.Project/Admin/AdminCommon/Coditech.Admin.Utilities/obj
/Coditech.Project/API/Comman/Coditech.API.Data/bin
/Coditech.Project/API/Comman/Coditech.API.Data/obj
/Coditech.Project/Common/Coditech.Resources/bin
/Coditech.Project/Common/Coditech.Resources/obj
/Coditech.Project/Common/Coditech.Resources/obj
/Coditech.Project/API/Comman/Coditech.Common.Service/bin
/Coditech.Project/API/Comman/Coditech.Common.Service/obj
/Coditech.Database/Coditech.Database/obj
/Coditech.Database/.vs/Coditech.Database/v16
/Coditech.Database/Coditech.Database/bin
/Coditech.Database/Coditech.Database/Coditech.Database.jfm
/Coditech.Database/Coditech.Database/Coditech.Database.dbmdl
/Coditech.Database/.vs/Coditech.Database/v17
/Coditech.Database/.vs/Coditech.Database/FileContentIndex
/Coditech.Project/API/Coditech.Engine.Organisation/~/data/default
/Coditech.Project/API/Coditech.Engine.User/~/data/default
/Coditech.Project/API/Coditech.Engine.Employee/obj
/Coditech.Project/API/Coditech.Engine.Employee/bin
/Coditech.Project/API/Coditech.Engine.Inventory/bin
/Coditech.Project/API/Coditech.Engine.Inventory/obj
/Coditech.Project/API/Coditech.Engine.GymManagementSystem/bin
/Coditech.Project/API/Coditech.Engine.GymManagementSystem/obj
/Coditech.Project/API/Coditech.Engine.MediaManager/bin
/Coditech.Project/API/Coditech.Engine.MediaManager/obj
/Coditech.Project/API/Coditech.Engine.HospitalManagementSystem/bin
/Coditech.Project/API/Coditech.Engine.HospitalManagementSystem/obj
/Coditech.Project/API/Coditech.Engine.SalesAndPurchase/bin
/Coditech.Project/API/Coditech.Engine.SalesAndPurchase/obj
/Coditech.Project/Common/Coditech.Common.API.Model/Responses/GeneralPerson/GeneralPersonFollowUp
/Coditech.Project/Admin/Coditech.Admin/Properties/PublishProfiles
/Coditech.Project/Admin/Coditech.Admin/Properties/PublishProfiles
/Coditech.Project/Admin/Coditech.Admin/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.Employee/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.Employee/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.Employee/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.GymManagementSystem/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.Inventory/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.Organisation/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.User/Properties/PublishProfiles
/Coditech.Project/Admin/Coditech.Admin/Coditech.Engine.Admin.csproj.user
/Coditech.Project/API/Coditech.Engine.Employee/Coditech.Engine.Employee.csproj.user
/Coditech.Project/API/Coditech.Engine.GymManagementSystem/Coditech.Engine.GymManagementSystem.csproj.user
/Coditech.Project/API/Coditech.Engine.Organisation/Coditech.Engine.Organisation.csproj.user
/Coditech.Project/API/Coditech.Engine.Inventory/Coditech.Engine.Inventory.csproj.user
/Coditech.Project/API/Coditech.Engine.User/Coditech.Engine.User.csproj.user
/Coditech.Project/API/Coditech.Engine.GymManagementSystem/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.Inventory/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.Organisation/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.User/.config/dotnet-tools.json
/Coditech.Project/Coditech.Reports/bin
/Coditech.Project/Coditech.Reports/Coditech.Reports.rptproj.rsuser
/Coditech.Project/API/Coditech.Engine.MediaManager/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.MediaManager/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.MediaManager/Coditech.Engine.MediaManager.csproj.user
/Coditech.Project/API/Coditech.Engine.Gazette/bin
/Coditech.Project/API/Coditech.Engine.Gazette/obj
/Coditech.Project/API/Coditech.Engine.Gazette/Coditech.Engine.Gazette.csproj.user
/Coditech.Project/API/Coditech.Engine.MediaManager/Data/Media
/Coditech.Project/API/Coditech.Engine.HospitalManagementSystem/.config/dotnet-tools.json
/Coditech.Project/API/Coditech.Engine.HospitalManagementSystem/Properties/PublishProfiles
/Coditech.Project/API/Coditech.Engine.HospitalManagementSystem/Coditech.Engine.HospitalManagementSystem.csproj.user
