<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Coditech.Engine.User.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
	</system.webServer>
</configuration>
<!--ProjectGuid: d9cc7cfb-399f-4937-96f7-e8e4c2e0c0ea-->