<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Coditech.Engine.Gazette.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
	</system.webServer>
</configuration>
<!--ProjectGuid: 7da85bf4-24c1-4b16-8210-f90156a0bd7e-->