@model EmployeeMasterListViewModel
@{
    ViewBag.Title = "Employee List";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">@AdminResources.LabelEmployeeList</span>
                        <a class=" btn btn-sm btn-soft-primary float-end" href="/@controllerName/Create" role="button"><i class="fas fa-plus me-2"></i>Add Employee</a>
                        <p class="text-muted mb-0"></p>
                    </div>
                    <div class="card-body">
                        <div id="DataTablesDivId" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            @Html.Partial("~/Views/Gym/EmployeeMaster/_List.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- end page content -->